.all .about {
    background-color: var(--dark-gray);
    width: 100%;
    margin: 0;
}

section.about{
  padding: 40px 5%; 
  padding-bottom: 80px;
}
section.about p{
    margin:0;
    padding: 10px;
}


/*Tablet*/
@media (max-width: 768px) {

}
/*Mobile*/
@media (max-width: 425px) {

}
